@import 'react-responsive-carousel/lib/styles/carousel.min.css'

@font-face {
  font-family: 'Quixote Obsolete';
  src: local('Quixote Obsolete'), local('Quixote-Obsolete'),
      url('assets/font/Quixote_Obsolete/Quixote-Obsolete.woff2') format('woff2'),
      url('assets/font/Quixote_Obsolete/Quixote-Obsolete.woff') format('woff'),
      url('assets/font/Quixote_Obsolete/Quixote-Obsolete.ttf') format('truetype'),
      url('assets/font/Quixote_Obsolete/Quixote-Obsolete.svg#Quixote-Obsolete') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #2e2f31;
  font-family: 'Quicksand', sans-serif ;
  font-weight: normal;
  font-style: normal;
}

h2{
  font-size: 49px;
}
p{
  font-size: 21px;
}
.outline{
  border: 1px solid #006494;
}
.jumbotrono{
padding: 1%
}
.white-font{
    color: #f7f7f2;
}
.red-font{
    color: #db5461;
}
.yellow-font{
    color: #ffb833;
}

.blue-font{
    color: #4fb0c6;
}
.black-font{
    color: #333333;
}

.white-back{
  background-color: #f7f7f2;
}

.wish-font{
  color: #FCF9DE;
}
.orange-font{
  color: #ef8354;
}
.gun-font{
  color: #2d3142;
}

.cream-back{
  background-color: #FCF6C2;
}
.orange-back{
  background-color: #ef8354;
}
.yellow-back{
  background-color: #ffb833;
}

.blue-back{
  background-color: #4fb0c6;
}
.blue-jeans-back{
    background-color:#006494;
}
.wish-back{
  background-color: #FCF9DE;
}
.blish-back{
  background-color: #2e86ab;
}

.cyano-back{
  background-color: #4fb0c6;
}

.black-back{
  background-color: #333333;
}


.zero{
  background-color: ##333333;

}
.one{
  background-color: #f7f7f2;

}
.col_centered{
    float: none;
    margin: 0 auto;
}
.text_center{
  text-align: center;
}


.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #2e2f31;
    color: #fff;
    transition: all 0.3s;
}

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

.image-fit{
  margin-bottom: 0%;
  padding: 0%;
}

.leaves_back_pos{
  position: absolute;
  z-index: 10;
  left: 20%;
  right: 20%;
}

.leaves_back_pos_0{
  position: absolute;
  z-index: 10;
  left: 5%;
  top: 112%;
  right: 10%;
}
.leaves_back_pos_1{
  position: absolute;
  z-index: 10;
  left: 5%;
  right: 10%;
  top: 210%;

 
}

.birdie_pos{
  position: absolute;
  z-index: 10;
  left: 10%;
  top: 30%;
  right: 20%;
}


.moon_pos{
  position: absolute;
  z-index: 10;
  left: 25%;;
  right: 20%;
}

.mercury_pos{
  position: absolute;
  z-index: 10;
  left: 5%;;
  right: 20%;
}
.venus_pos{
  position: absolute;
  z-index: 10;
  left: 10%;;
  right: 20%;
}
.saturn_pos{
  position: absolute;
  z-index: 10;
  left: 50%;
  right: 2%;
}
.uranus_pos{
  position: absolute;
  z-index: 10;
  left: 90%;
  right: 20%;
}
.star0_pos{
  position: absolute;
  z-index: 10;
  left: 75%;
  top: 270%;
  right: 20%;
}

.star1_pos{
  position: absolute;
  z-index: 10;
  left: 45%;
  top: 290%;
  right: 20%;
}

.form-control{
  background: "transparent";
}